{{#each playlist.tracks}}
  <tr>
    <td>{{title}}</td>
    <td>{{artist}}</td>
    <td>{{duration}}</td>
    <td>
      <a
        href="/playlist/{{../playlist._id}}/deletetrack/{{_id}}"
        class="button is-danger is-small"
      >
        Delete
      </a>
    </td>
  </tr>
{{/each}}
